<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Angular Materialize Color Inspiration</title>
	<meta name="description" content="">
	<meta name="keywords" content=""/>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">

	<!-- FB OPEN GRAPH -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:description" content="" />
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="fb:admins" content=""/>


	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">

</head>
<body ng-app="MaterialColor">

	<div class="container" ng-controller="ColorsCtrl">


		<header>
			<h1>Color Inspiration</h1>
		</header>


		<div class="row">

			<div ng-repeat="color in colors | orderBy:'id' ">
				<div ng-class="(color.id == -1) ? 'icon-col s3 m3' : 'col s12 m3'" ng-switch on="color.id">
					<div class="card">
						<div class="card-image" ng-switch-when="-1">
							<section id="random-primary" class="color-palette {{color.primary}}" data-primary_rand="{{color.primary}}" >
								<p class="color-name">{{color.primary}}</p>
								<p class="color-hexa">#FFFFFF</p>
							</section>
							<section id="random-secondary" class="color-palette {{color.secondary}} lighten-2" data-secondary_rand="{{color.secondary}}">
								<p class="color-name">{{color.secondary}}</p>
								<p class="color-hexa">#FFFFFF</p>
							</section>
						</div>
						<div class="card-image" ng-switch-default>
							<section class="color-palette {{color.primary}}"></section>
							<section class="color-palette {{color.secondary}} lighten-2"></section>
						</div>

						<div ng-switch-when="-1" class="card-action card-random-action clearfix">
							<a class="waves-effect waves-light card-btn" ng-click="random()"><i class="mdi-navigation-close discard"></i></a>
							<a class="waves-effect waves-light card-btn" ng-click="save()"><i class="mdi-action-done save"></i></a>
						</div>
						<div ng-switch-default class="card-action card-saved-action clearfix">
							<a class="waves-effect waves-light card-btn" ng-click="delete(color.id)"><i class="mdi-action-delete delete"></i></a>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="assets/js/materialize.js"></script>
	<script type="text/javascript" src="app/scripts.min.js"></script>


</body>
</html>